<template>
    <div style="height: 400px;">
        <Bar :data="chartData" :options="options" />
    </div>
</template>
  
<script setup>
import {
    Chart as ChartJS,
    Title,
    Tooltip,
    Legend,
    BarElement,
    CategoryScale,
    LinearScale
} from 'chart.js';
import { Bar } from 'vue-chartjs';

ChartJS.register(CategoryScale, LinearScale, BarElement, Title, Tooltip, Legend);

const props = defineProps(['chartData']);
const options = {
    responsive: true,
    maintainAspectRatio: false,
    plugins: {
      legend: {
         display: false
      }
   }
};
</script>