<template>
    <Head :title="aduan.title" />
    <div class="container mx-auto flex lg:pt-28">
        <div class="sm:min-h-fit grid grid-cols-3 lg:space-y-0 sm:space-y-4">
            <!-- Section Detail Aduan -->
            <div class="lg:col-span-2 sm:col-span-3 col-span-3 mb-6 lg:pr-2">
                <div class="bg-white shadow">
                    <!-- header card -->
                    <div class="grid grid-cols-2 p-4 border-b border-slate-200">
                        <div class="col-span-1">
                            <p class="font-semibold text-base">Rincian Aduan : <span class="text-red-600">LK{{ aduan.id
                            }}</span></p>
                            <p class="font-semibold text-base"><span class="text-red-600">{{ aduan.title
                            }}</span></p>
                        </div>
                        <div class="col-span-1 justify-self-end">
                            <span class="rounded-full border text-red-600 px-2 py-1"
                                style="background-color: #eaffed; color: #27ae60;">{{ lastStatus }}</span>
                            <span class="rounded-full border text-red-600 px-2 py-1"
                                style="background-color: #eaffed; color: #27ae60;">Public</span>
                        </div>
                    </div>
                    <!-- content card -->
                    <div class="p-4 border-b border-slate-200" style="min-height: 22rem;">
                        <div class="grid grid-cols-3 gap-4 images">
                            <div class="col-span-1 flex items-center justify-center">
                                <img :src="aduan.image" class="object-cover h-70 w-full mx-auto" alt="image card"
                                    style="cursor: pointer;">
                            </div>
                        </div>
                        <div class="content-text py-3">
                            <p class="text-gray-500 text-sm font-light">DESA {{ aduan.desa_kelurahan }}, {{ aduan.created_at
                            }}</p>
                            <p class="text-sm pt-2 text-ellipsis overflow-hidden">{{ aduan.isi_aduan }}</p>
                        </div>
                        <!-- Informasi Tags -->
                        <div class="tags pt-4 flex flex-wrap text-gray-500 text-sm font-semibold">
                            <span v-for="(tag, index) in aduan.tags" :key="index"
                                class="rounded-3xl border border-slate-400 px-2 py-1" style="margin: 0.2rem;">
                                <Link :href="route('tags.show', { slug: tag.slug })">#{{ tag.name }}</Link>
                            </span>
                        </div>
                        <!-- Informasi Tags -->
                    </div>
                    <div class="grid grid-cols-2 p-4 border-b border-slate-200">
                        <div class="sm:col-span-1 col-span-2 flex justify-between lg:justify-start">

                        </div>
                        <div
                            class="sm:col-span-1 col-span-2 flex justify-between sm:justify-self-end sm:items-center sm:gap-5 sm:mt-0 mt-4 ml-1">
                            <p class="bg-red-50 text-slate-400 text-xs font-light mr-2">
                                <span id="count-mark-152887">Pelapor:</span> {{ aduan.user.name }}
                            </p>
                        </div>
                    </div>
                    <!-- content card -->
                </div>
            </div>
            <div class="lg:col-span-1 sm:col-span-3 col-span-3 mb-6 lg:pl-2 font-inter">
                <div class=" bg-white shadow p-2 sm:mb-6">
                    <ul class="flex text-sm font-medium text-center text-gray-500 dark:text-gray-400 py-2 border-b border-slate-200"
                        role="tablist">
                        <li class="w-full pr-1" role="presentation">
                            <a href="#"
                                class="inline-block py-3 px-4 bg-red-50 w-full hover:bg-red-50 hover:text-red-700 rounded-lg active"
                                id="progress-tab" data-tabs-target="#progress" type="button" role="tab"
                                aria-controls="progress" aria-selected="false" aria-current="page">PROSES</a>
                        </li>
                    </ul>
                    <div class="pt-8">
                        <div class="overflow-y-auto h-56">

                            <!-- Looping untuk menampilkan setiap status -->
                            <div v-for="(status, index) in aduan.status" :key="index" class="flex flex-row my-2">
                                <div class="basis-1/6 md:flex md:justify-center pt-1">
                                    <i v-if="status.status === 'Belum Ditangani'"
                                        class="fas fa-dot-circle text-red-600"></i>
                                    <i v-if="status.status === 'Verifikasi'" class="fas fa-check-circle text-blue-600"></i>
                                    <i v-if="status.status === 'Diproses'" class="fas fa-check-circle text-gray-600"></i>
                                    <i v-if="status.status === 'Selesai'" class="fas fa-check-circle text-green-600"></i>
                                </div>
                                <div class="basis-5/6">
                                    <p class="text-pink-600 font-medium">{{ status.status }}</p>
                                    <p class="font-semibold text-xs pb-1">
                                        {{ formatStatusCreatedAt(status.created_at) }}
                                    </p>
                                    <p class="font-semibold text-xs pb-1" v-if="status.user?.name">
                                        <span v-if="status.status === 'Belum Ditangani'">Pelapor</span>
                                        {{ status.user.name }}
                                    </p>
                                    <div class="text-xs pb-1">
                                        <p>
                                            <span class="text-xs pb-1">{{ status.keterangan }}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <aside id="blogs" aria-label="Related articles" class="py-8 lg:py-24 bg-white dark:bg-gray-900">
        <div class="px-4 mx-auto max-w-screen-xl">
            <h2 class="mb-9  text-2xl font-bold text-gray-900 dark:text-white">Aduan Terbaru</h2>
            <div class="grid gap-12 sm:grid-cols-2 lg:grid-cols-4">
                <Link v-for="data in popularAduans" :key="data.id" :href="route('aduan.detail', { slug: data.slug })"
                    class="overflow-hidden rounded-lg shadow transition hover:shadow-lg">
                <img alt="Office" :src="data.image" class="h-56 w-full object-cover" />

                <div class="bg-white p-4 sm:p-6">
                    <time datetime="2022-10-10" class="block text-sm text-gray-500">
                        {{ data.desa_kelurahan }}, {{ data.created_at }}
                    </time>

                    <Link :href="route('aduan.detail', { slug: data.slug })">
                    <h3 class="mt-0.5 text-lg text-gray-900">
                        {{ data.title }}
                    </h3>
                    </Link>
                    <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-500">
                        {{ data.isi_aduan }}
                    </p>
                </div>
                </Link>
            </div>

        </div>
        <div class="mt-9 text-center">
            <a href="#"
                class="inline-block rounded bg-pink-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-pink-700 focus:outline-none focus:ring focus:ring-yellow-400">
                Lihat semua aduan
            </a>
        </div>
    </aside>
</template>
<script setup>
import { defineProps, ref, computed } from "vue";
import { Link, Head } from '@inertiajs/vue3';
const props = defineProps({
    aduan: Object,
    popularAduans: Object,
});

const lastStatus = computed(() => {
    const statuses = props.aduan.status;
    return statuses.length > 0 ? statuses[statuses.length - 1].status : "";
});
const formatStatusCreatedAt = (createdAt) => {
    const date = new Date(createdAt);
    const options = { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric', timeZoneName: 'short' };
    return date.toLocaleDateString('id-ID', options);
};
</script>
